body {
	background: url(../images/student-bgi.jpg);
}
#menu {
	background-color: rgb(238,110,115);
	border: 0;
	height: 64px;
	margin: 0;
}

#menu:hover {
	background-color: rgb(214,99,103)
}
.brand-logo {
	margin-left: 18%;
}
.right {
	margin-right: 15%;
}

.container .row form i {
	margin-right: 10px;
}
.container .row form label {
	font-size: 14px;
	margin: 5px 0;
	font-weight: 800;
}
#oout1,
#oout2,
#oout3,
#changePassword {
	display: none;
	margin: 100px auto;
	background-color: rgb(245,242,240);
	padding: 50px;
}

#confirmChange,
#cancelChange {
	display: none;
	margin: 0 50px;
}